@inherits LayoutComponentBase


<aside>
    <figure>
      
        <figcaption>Interviewer Name</figcaption>
    </figure>
  
    <nav>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Countries</a></li>
            <li><a href="genres">Accounts</a></li>
            <li><a href="#">Create Interview</a></li>
            <li><a href="#">Search Interview</a></li>
            <li><a href="#">Edit Interview</a></li>
        </ul>
    </nav>
</aside>
<main>
    @Body

</main>








@code {

}
