@page "/account/create"

<h3>Create Account</h3>

<EditForm Model="account" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Account Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@account.Name" />
            <ValidationMessage For="@(() => account.Name   )"  />
        </div>

    </div>
    <button class="btn btn-success" type="submit">Save Changes</button>


</EditForm>

@code {

    private Account account = new Account();

    private void Create(){

        Console.WriteLine(account.Name);
    }


}